<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>   
                <div class="error">
                    <div class="error-message">
                        <h1>404</h1>
                        <h2>Sometime going wrong...</h2>
                      </div>
                </div>
</body>
</html>