<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <main class="main">
        <section class="home-headline">
            <div class="container">
                <h1 class="title">Personal Blog</h1>
                <h2 class="subtitle">Build with Node.js, Express, MongoDB</h2>
            </div>
        </section>
    </main> 
</body>
</html>