* {
     margin: 0px;
     padding: 0px;
}
html, body {
     width: 100%;
     height: 100%;
 }
body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #0A0A0A;
    background-color: #ebebeb;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.header{
    background-color: #440369;
    padding: 33px 0 32px;
    color: #ebebeb;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: right;
    flex-grow: 1;
    flex-basis: 0;
}
.menu-item{
    padding-right: 30px;
    transition: color 0.2s linear;
}  

.menu-item:hover{
    color: #e7b100;
}  
.headline {
    display: flex;
}
.home-headline {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contacts{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 36px;
}
.headline-title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    display: block;
    text-align: center;
}
.post-title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
}
.post-head{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.delete,
.edit{
    background: none;
    border: none;
    font-size: 36px;
    color: #ebebeb;
    margin-left: 20px;
}
.fa-solid{
    transition: color 0.1s linear;
}
.fa-solid:hover{
    color: #e7b100;
    cursor: pointer;
}
.post{
    color: #ebebeb;
    background-color: #440369;
    text-align: left;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
    flex: 1;
}
.post-text{
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.post-text-hidden{
    padding-bottom: 10px;
}
.post-content {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;
}
.post-header{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}
.post-footer{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
}

.title {
    text-transform: uppercase;
    margin-bottom: 0 0 40px;
    font-weight: 700;
    font-size: 60px;
    line-height: 77px;
}
.subtitle{
    text-transform: uppercase;
    margin-bottom: 0 0 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 77px;
}

.add-form{
    display: flex;
    flex-direction: column;
    background-color: #440369;
    color: #ebebeb;
    padding: 10px 10px 30px 10px;
    border-radius: 5px;
}
.metadata{
    display: flex;
}
.post-input{
    padding: 10px 0px;
    border: none;
    border-bottom: 2px solid #fff;
    display: block; 
    width: 100%;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #440369;
    color: #ebebeb;
    font-size: 18px;
    outline:none;
}
.post-input::placeholder, 
.new-post-text::placeholder{
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    opacity: 0.5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.new-post-text{
    height: 50vh;
    margin: 10px 0px; 
    border: none;
    display: block; 
    width: 100%;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #440369;
    outline:none;
    color: #ebebeb;
    font-size: 18px;
    resize: none;
}
.add-post-button{
    border: none;
    text-transform: uppercase;  
    color: #440369;  
    font-weight: 700;
    font-size: 18px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 60px;
    cursor: pointer;    
    align-self: flex-end;
}
#new-post-text {
    color: #fff;;
    font-size: 18px;
}
        
.error{
    display: grid;
    justify-items:center;
    align-items:center;
    height: 100%;
    background-color: #222;
    color:#fff;  
}
.error-message h1{
    font-size: 76px;
}
.error-message h2{
    font-size: 36px;
}